
:root {
    --background: white;
    --ripple: rgba(0, 0, 0, 0.2);
    --hover: rgba(0, 0, 0, 0.1);
    --text: black;
}
:root {
    --inner-padding: 15px;
    
    --ripple-hover-fade-duration: 0.1s;

    /* Duration until the ripple effect completely fills the element */
    --ripple-fadein-duration: 0.2s;

    /* Duration until the ripple effect disappears */
    --ripple-fadeout-duration: 0.3s;

    /* The blur effect radius of touch ripple. */
    --ripple-blur-radius: 10px;

    --lowerScale: 0.3;
    --upperScale: 1;
}

.dark {
    --background: black;
    --ripple: rgba(255, 255, 255, 0.2);
    --hover: rgba(255, 255, 255, 0.1);
    --text: white;
}